div#countdown{
    position: absolute;
    top: 200px;
    z-index: 98;
    left: 20%;
    right: 20%;
}
#clock span{
    float: left;
    text-align: center;
    font-size: 200%;
    margin: 0 2.5%;
    color: #fff;
    padding: 15px;
    width: 20%;
    border-radius: 20px;
    box-sizing: border-box;
}
#clock span:nth-child(1){
    border: solid 10px;
    border-color: #fa5559;
}
#clock span:nth-child(2){
    border: solid 10px;
    border-color: #26c2b9;
}
#clock span:nth-child(3){
    border: solid 10px;
    border-color: #f6bc58;
}
#clock span:nth-child(4){
    border: solid 10px;
    border-color: #2dcb74;
}
#clock:after{
    content: "";
    display: block;
    clear: both; 
}
#units span{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 30px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(10,10,10, 0.7);
}
/*animation*/
@keyframes turn{
    0%{transform: rotateY(0deg)}
    100%{transform: rotateX(360deg)}
}
@media (max-width: 600px){
    div#countdown{
        top: 8%;
    }
    #units span{
        margin-top: 10px;
        padding: 1px;
    }
}
@media (max-width: 970px){
    div#countdown{
        top: 150px;
    }
}
@media (max-width: 660px){
    div#countdown{
        top: 100px;
    }
}
@media (max-width: 550px){
    div#countdown{
        top: 50px;
        left: 10%;
        right: 10%;
    }
}
@media (max-width: 440px){
    div#countdown{
        top: 50px;
        left: 0;
        right: 0;
    }
}

