.bases{
    border: 2px solid;
    border-color: #4caf50;
}
#guardar{
    position: center;
}
/*footer redes sociales*/
.redes-sociales{
    font-size: 200%;
}
.follow_us i{
    color: white;
}
.follow_us i:hover{
    color: #ffb300;
}
/**********************/
.brand-logo img{
    width: 150px;
    margin: 1px;
}
.modal{
    width: 500px;
}
#logo-modal{
    width: 50%;
    margin: 1px;
}
#logo-nav-bar{
    width: 90%;
    margin: 10px;
}