header{

}
nav{

}
#bases{
    border: 2px solid;
    border-color: #4caf50;
}

#guardar{
    position: center;
}
/*footer redes sociales*/
.redes-sociales{
    font-size: 200%;
}
.follow_us i{
    color: white;
}
.follow_us i:hover{
    color: #ffb300;
}
/**********************/
.nav {
    transition-duration: 50ms;
}
.card.ex-large {
    height: 650px;
}
#texto-explicativo-registrarse{
    margin-top: 20%;
}