<section class="row" ng-controller="NoticiasCtrl">
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card">
                <div class="card-image">
                    <img src="http://lorempixel.com/400/200">
                    <h1 class="card-title">Título de la Noticia</h1>
                </div>
            </div>
            <article class="card-panel col s9">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto, consequuntur cum
                    dolor, dolorum eius enim fuga impedit incidunt iste iusto laudantium libero nam quaerat rem
                    temporibus veniam voluptates voluptatum!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto, consequuntur cum
                    dolor, dolorum eius enim fuga impedit incidunt iste iusto laudantium libero nam quaerat rem
                    temporibus veniam voluptates voluptatum!</p>
            </article>
            <aside class="col s3 center">
                <div class="col s12 card-panel" style="margin: 8px">
                    <h6>Compartelo en tus Redes Sociales</h6>
                    <div class="addthis_inline_share_toolbox"></div>
                </div>
            </aside>
        </div>
    </div>
</section>



