<div class="center">
    <h4>Título Categoría</h4>
</div>
<!--Mas votados-->
<div class="row white z-depth-1">
    <h4 class="col s11">Más votados</h4>
    <a href="" class="col s1 btn">Ver Todos</a>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
</div>

<!--Mas Recientes-->
<div class="row white z-depth-1">
    <h4 class="col s11">Más Recientes</h4>
    <a href="" class="col s1 btn">Ver Todos</a>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
</div>

<!--Mas Antiguos-->
<div class="row white z-depth-1">
    <h4 class="col s11">Más Antiguos</h4>
    <a href="" class="col s1 btn">Ver Todos</a>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="app/images/header.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action center">
                <a href="#!" class="btn">Ver Idea</a>
            </div>
        </div>
    </div>
</div>
