<div ng-controller="IdeaCtrl">
    <section >
        <div class="idea-header">
            <br>
            <br>
            <div class="center">
                <h3 class="white-text">{{nombre}}</h3>
            </div>
            <br>
            <br>
        </div>
        <div class="center">
            <br>
            <img class="responsive-img" style="width: 50%;" ng-src="{{img_prin}}">
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="s12 ">
                    <div class="col s12 m8">
                        <div class="card-panel">
                            <h5>Descripción de la Idea</h5>
                            <p class="letra-detproy">{{descripcion}}.</p>

                        </div>
                        <div class="card-panel">
                            <h5>Video</h5>
                            <div class="video-container">
                                <iframe width="853" height="480" src="//" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m4">
                        <div class="white">
                            <div class="center">
                                <div class="card-panel">
                                    <p>{{autor}} {{autor_last}}</p>
                                    <p class="letra-detproy">Ubicación:{{comuna}}</p>
                                    <p class="letra-detproy">Categoría: {{categoria}}</p>
                                    <p class="letra-detproy">Beneficiario: {{beneficiario}}</p>
                                    <p class="letra-detproy">Votos: {{votos}}</p>
                                    <button class="button button-5 button-5a icon-remove"><i class="fa fa-heart"></i><span>Apoyar</span></button>
                                    <br>
                                    <h6>Compartelo en tus Redes Sociales</h6>
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--<img class="responsive-img" src="app/images/ideatonidea.svg">-->

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <br>
            <h5 class="titulo">Imágenes</h5>
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" ng-src="{{img1}}">
                    </div>
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" ng-src="{{img2}}">
                    </div>
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" ng-src="{{img3}}">
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<!--Cajon de comentarios-->

<div class="container" ng-controller="CommentCtrl">
    <div class="row">
        <h5 class="titulo">Comentarios</h5>
        <div>
            <div class="col s12 m12 l12">
                <div class="card-panel " ng-repeat="comentario in comentarios">
                    <!--usuario que comenta-->
                    <div class="chip col s7 m3 l2">
                        <!--<img src="../images/usuario.svg" alt="Contact Person">-->
                        {{comentario.user.first_name}}  {{comentario.user.last_name}}
                    </div>
                    <br>
                    <br class="hide-on-large-only">
                    <p class="text">
                        {{comentario.commentary}}
                    </p>
                </div>

            </div>
        </div>
        <div ng-controller="ValidarReg">
        <form class="col s12 m12 l12" ng-show="islogin" ng-controller="CommentCtrl">
            <div class="card-panel">
                <!--usuario que comenta-->
                <div class="chip col s7 m3 l2">
                    <!--<img src="app/images/usuario.svg" alt="Contact Person">-->
                    {{nombre_user}}
                </div>
                <br>
                <br class="hide-on-large-only">
                <textarea ng-model="comentario" id="comentario" type="text" class="validate white"></textarea>
                <label for="comentario"></label>
                <a href=""  ng-click=""  class="btn">Comentar</a>
            </div>
        </form>
            <li class="color-scroll" ng-hide="islogin"><a href='#login-modal' modal>Sube tu Idea</a></li>
        </div>
    </div>
</div>


<!--estructura del modal/login-->
<div id="login-modal" class="modal container">
    <div class="modal-content modal-responsive">
        <div class="row">
            <div class="section center">
                <img class="logo-modal" src="app/images/ideaton.png" alt="">
            </div>
            <div class="create-list-login-registro center create-list-connect-btn" ng-controller="ValidarReg">
                <h3 class="thin">Sube tu <strong class="bold">Idea</strong></h3>
                <p data-ng-show="!islogin" class="flow-text">Selecciona una cuenta para iniciar sesión.</p>
                <div class="row">
                    <div ng-controller="LoginGoogleCtrl" class="col s6">
                        <button class="button-google btn col s8 offset-s4" ng-click="googleLogin()" data-ng-show="!islogin"><i class="fa fa-google-plus" aria-hidden="true"></i>  Google</button>
                    </div>
                    <div ng-controller="LoginFaceCtrl" class="col s6">
                        <button class="button-facebook btn col s8" data-ng-show="!islogin" data-ng-click="IntentLogin()" ><i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</button>
                    </div>
                </div>
                <div>
                    <a ng-show="!isReg" ng-hide="!islogin" ui-sref="registrarse">Rellena tus Datos, para Continuar</a>
                    <a ng-show="isReg" ui-sref="sube-tu-idea">Sube tu Idea</a>
                </div>
            </div>
        </div>
    </div>
</div>