<div ng-controller="IdeaCtrl">
    <section >
        <div class="idea-header">
            <br>
            <br>
            <div class="center">
                <h3 class="white-text">{{nombre}}</h3>
            </div>
            <br>
            <br>
        </div>
        <div class="center">
            <br>
            <img class="responsive-img" style="width: 50%;" ng-src="{{img_prin}}">
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="s12 ">
                    <div class="col s12 m8">
                        <div class="card-panel">
                            <h5>Descripción de la Idea</h5>
                            <p class="letra-detproy">{{descripcion}}.</p>

                        </div>
                        <div class="card-panel">
                            <h5>Video</h5>
                            <div class="video-container">
                                <iframe width="853" height="480" src="//" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m4">
                        <div class="white">
                            <div class="center">
                                <div class="card-panel">
                                    <p>{{autor}} {{autor_last}}</p>
                                    <p class="letra-detproy">Ubicación:{{comuna}}</p>
                                    <p class="letra-detproy">Categoría: {{categoria}}</p>
                                    <p class="letra-detproy">Beneficiario: {{beneficiario}}</p>
                                    <p class="letra-detproy">Votos: 666</p>
                                    <button class="button button-5 button-5a icon-remove"><i class="fa fa-heart"></i><span>Apoyar</span></button>
                                    <br>
                                    <h6>Compartelo en tus Redes Sociales</h6>
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <img class="responsive-img" src="app/images/ideatonidea.svg">

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <br>
            <h5 class="titulo">Imágenes</h5>
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m4" ng-repeat="img in imagenes">
                        <img materialboxed class="materialboxed" data-caption="" ng-src="{{img.image}}">
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<!--Cajon de comentarios-->

<div class="container">
    <div class="row">
        <h5 class="titulo">Comentarios</h5>
        <div ng-repeat="">
            <div class="col s12 m12 l12">
                <div class="card-panel ">
                    <!--usuario que comenta-->
                    <div class="chip col s7 m3 l2">
                        <img src="../images/usuario.svg" alt="Contact Person">
                        {{""}}
                    </div>
                    <br>
                    <br class="hide-on-large-only">
                    <p class="white-text">{{com.comentario}}
                    </p>
                </div>
            </div>
        </div>
        <form class="col s12 m12 l12">
            <div class="card-panel">
                <!--usuario que comenta-->
                <div class="chip col s7 m3 l2">
                    <img src="app/images/usuario.svg" alt="Contact Person">
                    Nombre Usuario
                </div>
                <br>
                <br class="hide-on-large-only">
                <textarea ng-model="comentario" id="comentario" type="text" class="validate white"></textarea>
                <label for="comentario"></label>
                <a href=""  ng-click=""  class="btn">Comentar</a>
            </div>
        </form>
    </div>
</div>