<section class="row" ng-controller="NoticiaCtrl">
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card">
                <div class="card-image" id="imagen-detalle-noticia">
                    <img materialboxed class="materialboxed" ng-src="{{noticia.imagen}}">
                    <h1 class="card-title">{{noticia.titulo}}</h1>
                </div>
            </div>
            <aside class="card-panel col s12 hide-on-med-and-up center">
                <h6>Compártelo en tus Redes Sociales</h6>
                <button class="btn-floating button-facebook"
                                        socialshare
                                        socialshare-provider="facebook"
                                        socialshare-type="sharer"
                                        socialshare-text="{{noticia.titulo}}"
                                        socialshare-media="{{noticia.imagen}}"
                                        socialshare-url="www.ideaton.cl/#/detalle-noticia/{{id_noticia}}"
                                        socialshare-popup-height="300"
                                        socialshare-popup-width="400"
                                        socialshare-trigger="click">
                                    <i class="fa fa-facebook"></i>
                </button>
                <a
                        socialshare
                        socialshare-provider="twitter"
                        socialshare-text="{{noticia.titulo}}"
                        socialshare-via="teleton"
                        socialshare-hashtags="ideaton"
                        socialshare-popup-height="300"
                        socialshare-popup-width="400">
                    <button class="btn-floating button-twitter"><i class="fa fa-twitter"></i></button>
                </a>
                <a
                        socialshare
                        socialshare-provider="google"
                        socialshare-url="www.ideaton.cl/#/detalle-noticia/{{id_noticia}}"
                        socialshare-popup-height="300"
                        socialshare-popup-width="400">
                    <button class="btn-floating button-google"><i class="fa fa-google-plus"></i></button>
                </a>
                <div class="row"></div>
            </aside>
            <article class="card-panel col s12 m9">
                <p class="justify" ng-bind-html="descripcion_noticia"></p>
            </article>
            <aside class="col s3 center hide-on-small-only">
                <div id="panel-compartir-noticias" class="col s12 card-panel" style="margin: 8px">
                    <h6>Compártelo en tus Redes Sociales</h6>
                    <div class="center">
                        <button class="btn-floating button-facebook"
                                        socialshare
                                        socialshare-provider="facebook"
                                        socialshare-type="sharer"
                                        socialshare-text="{{noticia.titulo}}"
                                        socialshare-media="{{noticia.imagen}}"
                                        socialshare-url="www.ideaton.cl/#/detalle-noticia/{{id_noticia}}"
                                        socialshare-popup-height="300"
                                        socialshare-popup-width="400"
                                        socialshare-trigger="click">
                                    <i class="fa fa-facebook"></i>
                </button>
                        <a
                                socialshare
                                socialshare-provider="twitter"
                                socialshare-text="{{noticia.titulo}}"
                                socialshare-via="teleton"
                                socialshare-hashtags="ideaton"
                                socialshare-popup-height="300"
                                socialshare-popup-width="400">
                            <button class="btn-floating button-twitter"><i class="fa fa-twitter"></i></button>
                        </a>
                        <a
                                socialshare
                                socialshare-provider="google"
                                socialshare-url="www.ideaton.cl/#/detalle-noticia/{{id_noticia}}"
                                socialshare-popup-height="450"
                                socialshare-popup-width="450">
                            <button class="btn-floating button-google"><i class="fa fa-google-plus"></i></button>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div class="row" ng-controller="NoticiasCtrl">
        <div class="col s10 offset-s1">
            <h4>Noticias Recientes</h4>
            <div class="col s12 m4 l4" ng-repeat="noticia in noticias | orderBy:'-id' | limitTo:3">
                <div class="card hoverable medium">
                    <div class="card-image">
                        <img ng-src="{{noticia.imagen}}">
                        <h1 class="card-title">{{noticia.titulo}}</h1>
                    </div>
                    <div class="card-content">
                        <p>{{noticia.texto_breve}}</p>
                    </div>
                    <div class="card-action center">
                        <a class="btn green" ui-sref="detalle-noticia({ noticiaID: noticia.id})">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

