<div class="row">
    <div class="col s10 offset-s1">
        <br>
        <h4 class="titulo center">TeamUSS</h4>
        <div class="col s12 m3">
            <div class="card img-blanco-negro">
                <div class="card-image">
                    <img src="app/images/equipo/21266158.jpg">
                </div>
                <div class="card-content center">
                    <p>Cristian Gonzalez Ordenes</p>
                </div>
                <div class="card-action center">
                    <a class="btn-floating button-linkedin" href="https://cl.linkedin.com/in/cristian-gonzalez-491068129" target="_blank" data-unsp-sanitized="clean"><i class="fa fa-linkedin"></i></a>
                    <a class="btn-floating button-github" href="https://github.com/Kristianck" target="_blank" data-unsp-sanitized="clean"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card img-blanco-negro">
                <div class="card-image ">
                    <img src="app/images/equipo/14528267_10211019608385748_1434657560_n.jpg">
                </div>
                <div class="card-content center">
                    <p>Julio González Farías</p>
                </div>
                <div class="card-action center">
                    <a class="btn-floating button-linkedin" href="https://cl.linkedin.com/in/julio-gonzalez-farias-549a1363" target="_blank" data-unsp-sanitized="clean"><i class="fa fa-linkedin"></i></a>
                    <a class="btn-floating button-github" href="https://github.com/juliogf" target="_blank" data-unsp-sanitized="clean"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card img-blanco-negro">
                <div class="card-image">
                    <img src="app/images/equipo/14569862_10210686607345107_2039986075_n.jpg">
                </div>
                <div class="card-content center">
                    <p>Javier Muñoz Dunstan</p>
                </div>
                <div class="card-action center">
                    <a class="btn-floating button-linkedin" href="https://cl.linkedin.com/in/jemd1" target="_blank" data-unsp-sanitized="clean"><i class="fa fa-linkedin"></i></a>
                    <a class="btn-floating button-github" href="https://jemd15.github.io" target="_blank" data-unsp-sanitized="clean"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card img-blanco-negro">
                <div class="card-image">
                    <img src="app/images/equipo/drako.png">
                </div>
                <div class="card-content center">
                    <p>Héctor Saavedra Casanova</p>
                </div>
                <div class="card-action center">
                    <a class="btn-floating button-linkedin" href="https://cl.linkedin.com/in/héctor-saavedra-casanova-0a9375b1" target="_blank" data-unsp-sanitized="clean"><i class="fa fa-linkedin"></i></a>
                    <a class="btn-floating button-github" href="https://github.com/drakoblood" target="_blank" data-unsp-sanitized="clean"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="row blue-grey darken-4">
        <div class="col s12 m4 l4">
            <img class="responsive-img" src="app/images/equipo/14469721_10154437382413213_8345080464927904065_n.jpg">
        </div>
        <div class="col s12 m4 l4">
            <img class="responsive-img" src="app/images/equipo/13938271_10210587978795278_8211263735772903152_o.png">
        </div>
        <div class="col s12 m4 l4">
            <img class="responsive-img" src="app/images/equipo/14054529_10154312190888213_1811452518697198977_o.jpg">
        </div>
    </div>
</section>
