<section ng-controller="IdeasCtrl" class="row">
    <h2>{{nombre_cat}}</h2>
    <div class="col s12 m4" ng-repeat="idea in ideas | orderBy: orden_categoria">
        <div class="card medium hoverable">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" ng-src="{{idea.main_image}}">
            </div>
            <div class="card-content">
                <h1 class="card-title activator grey-text text-darken-4">{{idea.title}}<i class="material-icons right">more_vert</i></h1>
                <p class="center"><a class="btn green" ui-sref="detalle-proyecto({ ideaID: idea.id})">Ver Idea</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{idea.title}}<i class="material-icons right">close</i></span>
                <div class="chip">
                    <i class="fa fa-heart" aria-hidden="true"> {{idea.num_vote}}</i>
                </div>
                <p>{{idea.short_description}}</p>
            </div>
        </div>
    </div>
</section>