<header>
    <div id="video" class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="app/videos/The-Boulevard.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>
    <br>
    <br class="hide-on-med-and-up">
    <div style="">
        <countdown time="100" finish-callback="finished()"></countdown>
    </div>
    <div style="">
        <countdown autostart="true" time="5000" colors="flat-colors" callback="finished()"></countdown>
    </div>

    <br>
</header>

<!--etapas-->
<iframe class="col s12 z-depth-1" scrolling="no" src="app/lib/react-awesome-timeline-master/client/index.html" frameborder="0"></iframe>

<!--categorias-->
<section>
    <h4 class="titulo">Ideas</h4>
    <article class="row">
        <div class="col s12 m3">
            <div class="card">
                <div id="texto-categorias" class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at delectus doloribus enim
                        et ex explicabo illo magni natus necessitatibus neque, nostrum officiis quae reiciendis rerum
                        sint suscipit temporibus voluptatum.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card purple">
                <div class="card-image">
                    <img id="card-categoria" src="app/images/entretencion.svg">
                    <span class="card-title"><strong>Entretención</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card amber">
                <div class="card-image">
                    <img src="app/images/vidadiaria.svg">
                    <span class="card-title"><strong>Vida Diaria</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card teal">
                <div class="card-image">
                    <img src="app/images/educacion.svg">
                    <span class="card-title"><strong>Educación</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title"></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card blue darken-4">
                <div class="card-image">
                    <img src="app/images/trabajo.svg">
                    <span class="card-title"><strong>Trabajo</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card pink">
                <div class="card-image">
                    <img src="app/images/transporte.svg">
                    <span class="card-title"><strong>Transporte</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card red">
                <div class="card-image">
                    <img src="app/images/comunicacion.svg">
                    <span class="card-title"><strong>Comunicación</strong></span>
                </div>
            </div>
        </div>
    </article>
</section>

<!--estadisticas ideaton-->
<section class="red z-depth-1 hide">
    <br>
    <article class="white-text">
        <h4 class="titulo">estadísticas aquí</h4>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
    </article>
    <br>
</section>

<!--noticias-->
<section>
    <h4 class="titulo">Noticias</h4>
    <article class="row">
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4 l4">
            <div class="card">
                <div class="card-image">
                    <img src="app/images/header.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">This is a link</a>
                </div>
            </div>
        </div>
    </article>
</section>

<!--redes sociales-->
<section class="hide teal z-depth-1">
    <br>
    <div class="center">
    <h4 class="titulo white-text">#Ideatón en redes sociales</h4>
        <article class="row">
            <div class="col s12 m4">
                <i class="fa fa-twitter fa-5x white-text"></i>
                <a class="twitter-timeline"  href="https://twitter.com/hashtag/Ideaton" data-widget-id="775039556756312064">Tweets sobre #Ideaton</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <div class="col s12 m4">
                <div class="center">
                    <i class="fa fa-instagram fa-5x white-text"></i>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="center">
                    <i class="fa fa-facebook fa-5x white-text"></i>
                </div>
            </div>
        </article>
    </div>
    <br>
</section>
    
<!--Auspisiadores -->
<section class="center">
    <br>
    <br>
    
        <img src="app/images/auspiciadores.png"
    <br>
</section>
