<header>
    <div id="video" class="homepage-hero-module">
        <div class="video-container center">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="app/videos/The-Boulevard.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>
    <br>
    <br class="hide-on-med-and-up">

    <!--contador-->
    <div id="countdown" ng-controller="ContadorCtrl">
        {{loadcount()}}
        <h3 class="center white-text flow-text">Etapa Ideación | Sólo quedan:</h3>
        <div id="clock" ng-bind-html="clock"></div>
        <div id="units">
            <span class="white-text">Días</span>
            <span class="white-text">Hrs</span>
            <span class="white-text">Min</span>
            <span class="white-text">Seg</span>
        </div>
        <div class="row">
            <div class="center">
                <h5 class="white-text col s12 flow-text">Sube tu idea y súmate a una nueva forma de pensar la discapacidad. Capital semilla 10 proyectos ganadores.</h5>
            </div>
        </div>
    </div>
    <br>
</header>

<!--etapas-->
<div class="embed-container hide">
    <iframe src="app/lib/time-line/index.html#etapas" frameborder="0"></iframe>
</div>

<!--categorias-->
<section>
    <h4 class="titulo">Ideas</h4>
    <article class="row">
        <div class="col s12 m3">
            <div class="card hoverable">
                <div id="texto-categorias" class="card-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores at delectus doloribus enim
                        et ex explicabo illo magni natus necessitatibus neque, nostrum officiis quae reiciendis.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card purple hoverable" ui-sref="detalle-categoria({ categoriaName: 'entretencion'})">
                <div class="card-image">
                    <img id="card-categoria" src="app/images/entretencion.png">
                    <span class="card-title"><strong>Entretención</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card amber hoverable" ui-sref="detalle-categoria({ categoriaName: 'vida-diaria'})">
                <div class="card-image">
                    <img src="app/images/vida-diaria.png">
                    <span class="card-title"><strong>Vida Diaria</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card teal hoverable" ui-sref="detalle-categoria({ categoriaName: 'educacion'})">
                <div class="card-image">
                    <img src="app/images/educacion.png">
                    <span class="card-title"><strong>Educación</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3 hide">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="app/images/dibujo.jpg">
                    <span class="card-title"></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card blue darken-4 hoverable" ui-sref="detalle-categoria({ categoriaName: 'trabajo'})">
                <div class="card-image">
                    <img src="app/images/trabajo.png">
                    <span class="card-title"><strong>Trabajo</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card pink hoverable">
                <div class="card-image">
                    <img src="app/images/transporte.png" ui-sref="detalle-categoria({ categoriaName: 'transporte'})">
                    <span class="card-title"><strong>Transporte</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card red hoverable" ui-sref="detalle-categoria({ categoriaName: 'comunicacion'})">
                <div class="card-image">
                    <img src="app/images/comunicacion.png">
                    <span class="card-title"><strong>Comunicación</strong></span>
                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="card brown hoverable" ui-sref="detalle-categoria({ categoriaName: 'todas'})">
                <div class="card-image">
                    <img src="app/images/comunicacion.png">
                    <span class="card-title"><strong>Todas</strong></span>
                </div>
            </div>
        </div>
    </article>
</section>

<!--estadisticas ideaton-->
<section class="red z-depth-1 hide">
    <br>
    <article class="white-text">
        <h4 class="titulo">estadísticas aquí</h4>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores commodi cum debitis dolorem enim facere
            ipsa iusto minima nemo omnis quam, quos repellat sapiente sequi tempore tenetur, voluptates! In, incidunt?</p>
    </article>
    <br>
</section>

<!--Jurado-->
<section id="jurado" ng-controller="JuradosCtrl">
    <h4 class="titulo col s12">Jurado</h4>
    <div class="white z-depth-1">
        <br>
        <div class="center">
            <div class="row">
                <div class="col s12 m2 offset-m2">
                    <img ng-src='{{jurados[0].imagen}}' class="circle responsive-img hoverable z-depth-1" alt="">
                    <h5>{{jurados[0].nombre}}</h5>
                    <p>{{jurados[0].cargo}}</p>
                    <p>{{jurados[0].presentacion}}</p>
                </div>
                <div class="col s12 m2">
                    <img ng-src='{{jurados[1].imagen}}' class="circle responsive-img hoverable z-depth-1" alt="">
                    <h5>{{jurados[1].nombre}}</h5>
                    <p>{{jurados[1].cargo}}</p>
                    <p>{{jurados[1].presentacion}}</p>
                </div>
                <div class="col s12 m2">
                    <img ng-src='{{jurados[2].imagen}}' class="circle responsive-img hoverable z-depth-1" alt="">
                    <h5>{{jurados[2].nombre}}</h5>
                    <p>{{jurados[2].cargo}}</p>
                    <p>{{jurados[2].presentacion}}</p>
                </div>
                <div class="col s12 m2">
                    <img ng-src='{{jurados[3].imagen}}' class="circle responsive-img hoverable z-depth-1" alt="">
                    <h5>{{jurados[3].nombre}}</h5>
                    <p>{{jurados[3].cargo}}</p>
                    <p>{{jurados[3].presentacion}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m2 offset-m3">
                    <img ng-src='{{jurados[4].imagen}}' class="circle responsive-img hoverable z-depth-1" alt="">
                    <h5>{{jurados[4].nombre}}</h5>
                    <p>{{jurados[4].cargo}}</p>
                    <p>{{jurados[4].presentacion}}</p>
                </div>
                <div class="col s12 m2">
                    <img ng-src='{{jurados[5].imagen}}' class="circle responsive-img hoverable z-depth-1" alt="">
                    <h5>{{jurados[5].nombre}}</h5>
                    <p>{{jurados[5].cargo}}</p>
                    <p>{{jurados[5].presentacion}}</p>
                </div>
                <div class="col s12 m2">
                    <img ng-src='{{jurados[6].imagen}}' class="circle responsive-img hoverable z-depth-1" alt="">
                    <h5>{{jurados[6].nombre}}</h5>
                    <p>{{jurados[6].cargo}}</p>
                    <p>{{jurados[6].presentacion}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--noticias-->
<section ng-controller="NoticiasCtrl">
    <h4 class="titulo">Noticias</h4>
    <article class="row grey darken-4 z-depth-1">
        <div class="row">
            <a ui-sref="noticias" class="btn right col m2 green">Ver Todas</a>
        </div>
        <div class="col s12 m4 l4" ng-repeat="noticia in noticias | orderBy:'-id' | limitTo:3">
            <div class="card hoverable">
                <div class="card-image">
                    <img ng-src="{{noticia.imagen}}">
                    <span class="card-title">{{noticia.titulo}}</span>
                </div>
                <div class="card-content">
                    <p>{{noticia.texto_breve}}</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" href="#">Ver más</a>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </article>
</section>

<!--redes sociales-->
<section>

</section>
    
<!--Auspisiadores -->
<section class="row center">
    <h4>Auspician</h4>
    <div class="col s12 m6 l3">
        <a href="http://teleton.cl"><img class="img-blanco-negro" src="app/images/teleton.png"></a>
    </div>
    <div class="col s12 m6 l3">
        <a href="https://www.mutual.cl"><img class="img-blanco-negro" src="app/images/mutual.png"></a>
    </div>
    <div class="col s12 m6 l3">
        <a href="http://everis.cl"><img class="img-blanco-negro" src="app/images/everis.png"></a>
    </div>
    <div class="col s12 m6 l3">
        <a href="http://corfo.cl"><img class="img-blanco-negro" src="app/images/corfo.png"></a>
    </div>
</section>



