<!--noticias-->
<section ng-controller="NoticiasCtrl">
    <br>
    <h4 class="titulo center">Noticias</h4>
    <article class="row">
        <div class="col s12 m4 l4" ng-repeat="noticia in noticias | orderBy:'-id'">
            <div class="card hoverable medium">
                <div class="card-image">
                    <img ng-src="{{noticia.imagen}}">
                    <h1 class="card-title">{{noticia.titulo}}</h1>
                </div>
                <div class="card-content">
                    <p class="justify">{{noticia.texto_breve}}</p>
                </div>
                <div class="card-action center">
                    <a class="btn green accent-4" ui-sref="detalle-noticia({ noticiaID: noticia.id})">Ver Noticia</a>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </article>
</section>