 <div class="row" id="create-row">
            <span id="create" class="scrollspy"></span>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="row">
                <div class="section center">
                    <h3 class="thin">Comienza a <strong class="bold">Registrarte</strong></h3>
                </div>
            </div>


            <div id="create-list-login-container" class="row create-list-button disabled">
                <div class="col s12 m6 l6">
                    <div class="create-list-login-panel center create-list-connect-btn">
                        <p class="flow-text">Selecciona una cuenta para iniciar sesión y registrarte.</p>
                        <br>
                        <br>
                        <div class="imagen-registro">                       
                            <img src="app/images/idea.jpg" width="400px" height="400px">
                        </div>

                        <div>
                            Tienes una cuenta creada? <a href="#">Entra aquí.</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 hide-on-med-and-up or-divider">
            
                </div>
                <div class="col s12 m6 l6 create-list-login-right">
                  
                    <div class="create-list-login-panel center">
                        <div>
                            <input class="new-list-name-hidden" type="hidden" name="new-list-name">
                            <div class="center">
                                <p class="flow-text">Registrate con tus Datos.</p>
                            </div>
                            <div class="row">
                                <div class="col s6 input-field">
                                    <input id="new-your-name" name="new-your-name" type="text">
                                    <label for="new-your-name">Nombre</label>
                                </div>
                                <div class="col s6 input-field">
                                    <input id="new-your-name" name="new-your-name" type="text">
                                    <label for="new-your-name">Apellido</label>
                                </div>
                                <div class="col s6 input-field">
                                    <label for="inputCreated">Fecha de Nacimiento</label>
                                    <input input-date
                                            type="text"
                                            name="created"
                                            id="inputCreated"
                                            ng-model="currentTime"
                                            container=""
                                            format="yyyy-mm-dd"
                                            months-full="{{ month }}"
                                            months-short="{{ monthShort }}"
                                            weekdays-full="{{ weekdaysFull }}"
                                            weekdays-short="{{ weekdaysShort }}"
                                            weekdays-letter="{{ weekdaysLetter }}"
                                            disable="disable"
                                            min="{{ 1977 }}"
                                            max="{{ 2017 }}"
                                            today="today"
                                            first-day="1"
                                            clear="clear"
                                            close="close"
                                            select-years="40"
                                            on-start="onStart()"
                                            on-render="onRender()"
                                            on-open="onOpen()"
                                            on-close="onClose()"
                                            on-set="onSet()"
                                            on-stop="onStop()" />
                                </div>
                                <div class="col s6 input-field">
                                    <input id="new-your-name" name="new-your-name" type="text">
                                    <label for="new-your-name">Telefono</label>
                                </div>
                                <div class="col s16 input-field">
                                    <input type="text" id="autocomplete-input" class="autocomplete">
                                    <label for="autocomplete-input">Comuna</label>
                                </div>
                                <div class="col s12 input-field">
                                    <input id="new-your-email" name="new-your-email" type="email">
                                    <label for="new-your-email">Email</label>
                                </div>                      
                                <div class="col s6 input-field">
                                    <input id="new-your-password" name="new-your-password" type="password">
                                    <label for="new-your-password">Contraseña</label>
                                </div>
                                <div class="col s6 input-field">
                                    <input id="new-your-password" name="new-your-password" type="password">
                                    <label for="new-your-password">Repita Contraseña</label>
                                </div>
                                <div class="col s6">
                                     <p>
                                      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                                      <label for="filled-in-box">¿Eres Universitario?</label>
                                    </p>
                                    
                                </div>
                                <div class="col s12 input-field">
                                    <input id="new-your-name" name="new-your-name" type="text" disabled select>
                                    <label for="new-your-name">Universidad o Instituto Profesional</label>
                                </div>
                                <div class="col s12 input-field">
                                    <input id="new-your-email" name="new-your-email" type="email" disabled select>
                                    <label for="new-your-email">Carrera</label>
                                </div>
                              </div>
                              </div>
                            <div class="row center">
                                <button class="btn" id="create-account-and-list">Guardar</button>
                                
                                <p id="create-account-and-list-message" class="materialize-red-text lighten-2"></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="divider"></div>
        <br>
        <br>


