<div class="row" id="create-row">
            <span id="create" class="scrollspy"></span>
            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="row">
                <div class="section center">
                    <h3 class="thin">Sube tu <strong class="bold">Idea</strong></h3>
                </div>
                
                <div class="create-list-login-registro center create-list-connect-btn">
                        <p class="flow-text">Selecciona una cuenta y Registrate para subir tu Idea.</p>
                        
                        <div>                          
                            <a href="#" class="button-google btn" ><i class="fa fa-google-plus" aria-hidden="true"></i>  Google</a>
                        </div>
                        <div>
                            <a href="#" class="button-facebook btn" ><i class="fa fa-facebook" aria-hidden="true"></i>  Facebook</a>
                        </div>
                        <div>
                            Tienes una cuenta creada? <a href="#">Entra aquí.</a>
                        </div>
                    </div>
            </div>
</div>