<div class="row" id="create-row">
    <div class="row">
        <div class="section center">
            <h3 class="thin">Comienza a <strong class="bold">Registrarte</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6 hide-on-small-only">
            <br>
            <br>
            <div class="imagen-registro">
                <img src="app/images/logo-negro.png" width="400px" height="400px">
            </div>
        </div>
        <form ng-controller="RegistroCtrl" name="formreg">
            <div class="col s12 m6 l6">
                <div class="center">
                    <div>
                        <input class="new-list-name-hidden" type="hidden" name="new-list-name">
                        <div class="center">
                            <p class="flow-text">Registrate con tus Datos.</p>
                        </div>
                        <div class="row">
                            <div class="col s6 input-field">
                                <label for="nombre">Nombre</label>
                                <input id="nombre" name="new-your-name" type="text" class="validate" ng-model="nombre" maxlength="20" length="20" required>

                            </div>

                            <div class="col s6 input-field">
                                <label for="apellido">Apellido</label>
                                <input id="apellido" name="new-your-name" type="text" class="validate" ng-model="apellido" maxlength="20" length="20" required>

                            </div>

                            <div class="col s6 input-field">
                                <label for="inputCreated" >Fecha de Nacimiento</label>
                                <input input-date
                                       type="text"
                                       name="created"
                                       ng-model="edad"
                                       id="inputCreated"
                                       container=""
                                       format="dd-mm-yyyy"
                                       months-full="{{ month }}"
                                       months-short="{{ monthShort }}"
                                       weekdays-full="{{ weekdaysFull }}"
                                       weekdays-short="{{ weekdaysShort }}"
                                       weekdays-letter="{{ weekdaysLetter }}"
                                       disable="disable"
                                       min="{{ 1917 }}"
                                       max="{{ 2017 }}"
                                       today="today"
                                       first-day="1"
                                       clear="clear"
                                       close="close"
                                       select-years="40"
                                       on-start="onStart()"
                                       on-render="onRender()"
                                       on-open="onOpen()"
                                       on-close="onClose()"
                                       on-set="onSet()"
                                       on-stop="onStop()"
                                       class="datepicker"
                                       required/>
                            </div>
                            <div class="col s6 input-field">
                                <label for="telefono">Telefono</label>
                                <input id="telefono" name="new-your-name" type="tel" class="validate" ng-model="telefono" maxlength="13" length="13" required>

                            </div>
                            <div class="col s12">
                                <!--       <label>Comuna</label> -->
                                <select class="browser-default" ng-model="comuna">
                                    <option value="" disabled selected>Comuna</option>
                                    <option ng-repeat="item in comunas" value="{{item}}">{{item}}</option>
                                </select>
                            </div>

                            <div class="col s12">
                                <p>
                                    <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="checkboxU.ischeck"/>
                                    <label for="filled-in-box">¿Eres Universitario?</label>
                                </p>
                            </div>
                            <div class="col s12 input-field" ng-show="checkboxU.ischeck">
                                <select class="browser-default" ng-model="universidad">
                                    <option value="" disabled selected>Casa de Estudio</option>
                                    <option ng-repeat="y in universitys" value="{{y}}">{{y}}</option>
                                </select>
                            </div>
                            <div class="col s12 input-field" ng-show="checkboxU.ischeck">
                                <select class="browser-default" ng-model="carrera">
                                    <option value="" disabled selected>Carrera</option>
                                    <option ng-repeat="z in carrers" value="{{z}}">{{z}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <button ng-click="UpdateUser()" class="btn" id="create-account-and-list" ng-disabled="!formreg.$valid">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="divider"></div>
<br>
<br>