
    <section >
        <div class="idea-header">
            <br>
            <br>
            <div class="center">
                <h3 class="white-text">{{idea.title}}</h3>
            </div>
            <br>
            <br>
        </div>
        <div class="center">
            <br>

            <img class="responsive-img" style="width: 50%;" data-ng-src="data:image/png;base64,{{idea.main_image}}">
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="s12 ">
                    <div class="col s12 m8">
                        <div class="card-panel">
                            <h5>Descripción de la Idea</h5>
                            <p class="letra-detproy">{{idea.description}}.</p>

                        </div>
                        <div class="card-panel">
                            <h5>Video</h5>
                            <!--<div class="video-container">-->
                            <!--<iframe width="853" height="480" src="//" frameborder="0" allowfullscreen></iframe>-->
                            <!--</div>-->
                            <div class="embed-responsive embed-responsive-16by9">
                                <youtube-video class="embed-responsive-item" video-url="idea.url_vid"></youtube-video>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m4">
                        <div class="white">
                            <div class="center">
                                <div class="card-panel">
                                    <p class="letra-detproy">Categoría: {{idea.category}}</p>
                                    <p class="letra-detproy">Patología: {{idea.beneficiary}}</p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!--<img class="responsive-img" src="app/images/ideatonidea.svg">-->

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <br>
            <h5 class="titulo">Imágenes</h5>
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" data-ng-src="data:image/png;base64,{{img2}}">
                    </div>
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" data-ng-src="data:image/png;base64,{{img3}}">
                    </div>
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" data-ng-src="data:image/png;base64,{{img4}}">
                    </div>
                </div>
            </div>
        </div>

    </section>




