<div ng-controller="IdeaCtrl">
    <section >
        <div class="idea-header">
            <br>
            <br>
            <div class="center">
                <h3 class="white-text">{{nombre}}</h3>
            </div>
            <br>
            <br>
        </div>
        <div class="center">
            <br>
            <img class="responsive-img" style="width: 50%;" ng-src="{{img_prin}}">
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="s12 ">
                    <div class="col s12 m8">
                        <div class="card-panel">
                            <h5>Descripción de la Idea</h5>
                            <p class="letra-detproy">{{descripcion}}.</p>

                        </div>
                        <div class="card-panel">
                            <h5>Video</h5>
                            <!--<div class="video-container">-->
                            <!--<iframe width="853" height="480" src="//" frameborder="0" allowfullscreen></iframe>-->
                            <!--</div>-->
                            <div class="embed-responsive embed-responsive-16by9">
                                <youtube-video class="embed-responsive-item" video-url="url_vid"></youtube-video>
                            </div>
                        </div>

                    </div>
                    <div class="col s12 m4">
                        <div class="white">
                            <div class="center">
                                <div class="card-panel">
                                    <p>{{autor}} {{autor_last}}</p>
                                    <p class="letra-detproy">Ubicación:{{comuna}}</p>
                                    <p class="letra-detproy">Categoría: {{categoria}}</p>
                                    <p class="letra-detproy">Patología: {{beneficiario}}</p>
                                    <p class="letra-detproy">Votos: {{votos}}</p>

                                    <div ng-controller="ValidarReg">
                                        <div ng-controller="ValidarVotoCtrl">
                                            <li class="color-scroll" ng-hide="islogin"><a href='#login-modal' modal>Ingresa para Votar!</a></li>
                                            <div  ng-show="islogin" ng-controller="VotosCtrl">
                                                <button ng-hide="isvote" class="button button-5 button-5a icon-remove" ng-click="Votar()"><i class="fa fa-heart"></i><span>Apoyar</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <h6>Compártelo en tus Redes Sociales</h6>
                                    <div class="addthis_inline_share_toolbox"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <br>
            <h5 class="titulo">Imágenes</h5>
            <div class="card-panel">
                <div class="row">
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" ng-src="{{img1}}">
                    </div>
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" ng-src="{{img2}}">
                    </div>
                    <div class="col s12 m4" >
                        <img materialboxed class="materialboxed" data-caption="" ng-src="{{img3}}">
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
